title: 'application_title'
project: 'project_name'

host: 'host_and_port_to_run'
redis_url: 'host_redis'

db_user: 'database_user'
db_password: 'database_password'
db_host: 'database_host'

secret_development: 'rake secret'
secret_testing: 'rake secret'
secret_production: 'rake secret'
newrelic_key: 'newrelic_licence_key'
