set :application,       'your application name'
set :login,             'your locum login'
set :rvm_ruby_version,  'your ruby version'
set :repo_url,          'git@bitbucket.org:DCStudio/your_application_name'
