set :user,              'your_ssh_user'
set :login,             'your_locum_login'
set :rvm_ruby_version,  'your_ruby_version'
set :repo_url,          'git_path_to_your_application'

#after 'unicorn:restart', 'sidekiq:restart'
