common: &default_settings
  license_key: <%= Figaro.env.new_relic_key %>
  app_name: <%= Figaro.env.title %>
  log_level: info

development:
  <<: *default_settings
  app_name: <%= "#{Figaro.env.title} (Development)" %>
  developer_mode: true
  monitor_mode: false

test:
  <<: *default_settings
  monitor_mode: false

staging:
  <<: *default_settings
  app_name: <%= "#{Figaro.env.title} (Staging)" %>

production:
  <<: *default_settings
