common: &default_settings
  license_key: your_licence_key
  app_name: application_title
  log_level: info

development:
  <<: *default_settings
  app_name: application_title (Development)
  developer_mode: true
  monitor_mode: false

test:
  <<: *default_settings
  monitor_mode: false

staging:
  <<: *default_settings
  app_name: application_title (Staging)

production:
  <<: *default_settings
