Figaro.require_keys('title', 'project', 'host_and_port_to_run', 'database_user', 'database_password', 'database_host',
                    'secret_development', 'secret_testing', 'secret_production')
