set :application, 'your_application_name'
set :rails_env,   :production
set :ssh_options, forward_agent: true

server 'production-host.domain',
       roles:   %w(web app db),
       primary: true,
       user:    fetch(:user)
