server 'testing-host.domain',
       roles:   %w(web app db),
       primary: true,
       user:    'username'

set :keep_releases, 3
set :env, worker_count: 4
set :rails_env, :testing
set :ssh_options, forward_agent: true
