require 'capistrano/setup'
require 'capistrano/deploy'
require 'capistrano/rvm'
require 'capistrano/rails'
require 'capistrano/bundler'
require 'capistrano/rails/migrations'
require 'capistrano/rails/assets'
require 'capistrano3/unicorn'
require 'capistrano/puma'
require 'capistrano/rails/console'
require 'airbrussh/capistrano'
require 'capistrano/locum'

Dir.glob('lib/capistrano/tasks/*.cap').each { |r| import r }
